.contacts {
	padding: 75px 0 150px;
}

.contacts__title {
	margin-bottom: 74px;
}

.contacts__list {
	display: flex;
	gap: 104px;
}

.contacts__link {
	position: relative;
	font-weight: 400;
	font-size: 60px;
	line-height: 100%;
	letter-spacing: -0.02em;
	color: var(--text);
	transition: opacity 0.4s ease-in-out;
}

.contacts__link::before {
	position: absolute;
	left: -5px;
	top: -26px;
	content: '';
	width: 24px;
	height: 24px;
	background: center/contain no-repeat;
}
.contacts__link_phone::before {
	background-image: url('../resources/phone.svg');
}
.contacts__link_mail::before {
	background-image: url('../resources/mail.svg');
}

.contacts__link::after {
	position: absolute;
	left: 0;
	bottom: 5px;
	content: '';
	width: 0;
	height: 2px;
	background-color: var(--text);
	transition: width 0.5s ease-in-out, opacity 0.3s ease-in-out;
}
.contacts__link:hover,
.contacts__link:hover::after {
	width: 100%;
	opacity: 0.5;
}

@media (max-width: 1025px) {
	.contacts {
		padding: 60px 0 80px;
	}
	.contacts__list {
		gap: 114px;
	}
	.contacts__link {
		font-size: 45px;
		line-height: 133%;
	}
}

@media (max-width: 810px) {
	.contacts__title {
		margin-bottom: 58px;
	}
	.contacts__list {
		flex-direction: column;
		gap: 58px;
	}
}

@media (max-width: 610px) {
	.contacts {
		padding: 60px 0 80px;
	}
	.contacts__link {
		font-size: 35px;
		line-height: 130%;
	}
	.contacts__link::before {
		left: -2px;
		top: -20px;
		width: 18px;
		height: 18px;
	}
	.contacts__link::after {
		height: 1px;
	}
}
