.footer {
	padding: 60px 0 35px;
	background-color: var(--text);
	color: var(--white);
}

.footer__nav {
	display: flex;
	justify-content: center;
	margin-bottom: 90px;
}

.footer__desc {
	text-align: center;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: -0.03em;
	opacity: 0.5;
}

/* ! NAV FOOTER */
.nav__list_footer {
	justify-content: space-between;
	max-width: 610px;
}

.nav__link_footer {
	color: var(--white);
	transition: opacity 0.3s ease-in-out;
}
.nav__link_footer:hover {
	opacity: 0.5;
}

@media (max-width: 961px) {
	.footer {
		padding: 60px 0 30px;
	}
	.footer__nav {
		margin-bottom: 90px;
	}
	.footer__desc {
		font-size: 20px;
	}
}

@media (max-width: 610px) {
	.footer {
		padding: 30px 0 26px;
	}
	.footer__nav {
		margin-bottom: 41px;
	}
	.footer__desc {
		font-size: 13px;
	}
	/* ! NAV FOOTER */
	.nav__list_footer {
		max-width: 300px;
	}
	.nav__link_footer {
		font-size: 12px;
	}
}
