.popup {
	position: fixed;
	inset: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.7);
	cursor: pointer;
	transition: visibility 0.3s ease-in-out, opacity 0.5s ease-in-out;
}

.popup_open {
	opacity: 1;
	visibility: visible;
}

.popup__content {
	position: relative;
	width: 777px;
	max-height: 100%;
	padding: 94px 66px 86px;
	border-radius: 10px;
	background-color: var(--white);
	color: var(--text);
	overflow-y: auto;
	cursor: auto;
}

.popup__title {
	margin-bottom: 4px;
	font-weight: 400;
	font-size: 45px;
	letter-spacing: -0.03em;
	text-align: center;
}

.popup__desc {
	margin-bottom: 60px;
	font-weight: 400;
	font-size: 18px;
	letter-spacing: -0.03em;
	text-align: center;
}

.popup__form {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.popup__label {
	width: 100%;
}

.popup__input {
	width: inherit;
	padding-bottom: 10px;
	border-bottom: 1px solid #000;
	font-weight: 400;
	font-size: 25px;
	letter-spacing: -0.03em;
}
.popup__input::placeholder {
	transition: opacity 0.5s ease-in-out;
}
.popup__input:focus::placeholder {
	opacity: 0;
}

.popup__submit {
	margin-top: 30px;
	height: 67px;
	padding: 0 40px;
	font-size: 20px;
	background-color: var(--accent);
	color: var(--white);
}
@media (any-hover: hover) {
	.popup__submit:hover {
		border: 1px solid var(--accent);
		background-color: transparent;
		color: var(--accent);
	}
}
.popup__submit:active {
	transform: scale(0.95);
}

.popup__close {
	position: absolute;
	top: 32px;
	right: 34px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	transition: transform 0.3s ease-in-out;
}
.popup__close:active {
	transform: scale(0.8);
}

@media (max-width: 961px) {
	.popup {
		padding: 0 90px;
	}
	.popup__close {
		right: 44px;
	}
}

@media (max-width: 769px) {
	.popup {
		padding: 0 40px;
	}
}

@media (max-width: 610px) {
	.popup {
		padding: 0 7px;
	}
	.popup__content {
		padding: 80px 20px;
	}
	.popup__title {
		margin-bottom: 11px;
		font-size: 25px;
	}
	.popup__desc {
		margin-bottom: 54px;
		font-size: 14px;
	}
	.popup__form {
		gap: 40px;
	}
	.popup__input {
		font-size: 18px;
	}
	.popup__submit {
		margin-top: 20px;
		height: 67px;
		padding: 0 40px;
		font-size: 20px;
		background-color: var(--accent);
		color: var(--white);
	}
	.popup__close {
		top: 40px;
		right: 30px;
		width: 30px;
		height: 30px;
	}
}
