/* ! WORK */
.work {
	margin-bottom: 93px;
	height: 717px;
	background-image: url('../resources/work.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.work__container {
	position: relative;
	height: 100%;
}

.work__desc {
	position: absolute;
	bottom: 60px;
	width: 443px;
	color: var(--white);
}
